html body{
    font-family: 'Roboto', sans-serif;
	font-weight:300;
}

header {
  padding: 20px 0;
}



header h1{
	font-family: 'Lobster', cursive;
	font-size:80px;
	margin: 0;
	
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  
}

header a{
	color:#000;
}

header a:link{
	text-decoration:none;
	
}

header a:hover{
	text-decoration:none;
	color:#b21616;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}



.jumbotron{
	background-image:url(../images/jumbobg.jpg);
	background-position:center;
	background-size:cover;
	/* Background color */
	color: #ffffff;
	/* height of jumbotron */
	height:450px;
	/* Flexbox property */
	display:flex;
	align-items:center;
	/* Text property */
	text-shadow: 1.5px 1.5px 1.5px #000000;
	
}

.jumbotron h2{
	color:#fff;
	font-weight:700;
	font-size:70px;
}

.jumbotron h3{
	color:#fff;
	font-weight:400;
	font-size:40px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #000;
  text-shadow: none;
  background-color: #fbd1d5;
 
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #000;
}

.btn-secondary {
  background-color: #fbd1d5;
  color: #ffffff;
  margin: 0 0 30px;
}

section .row img{
  margin: 0 0 30px;
  width: 100%;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer ul {
  list-style: none;

}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer li img{
	height:32px;
	width:32px;
}

#portfolio{
	text-decoration:none;
}